<p>api-test works!</p>
<div class="container border rounded bg-dark" style="margin-top: 15px; margin-bottom: 15px; padding: 10px;">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>id</th>
          <th>title</th>
          <th>body</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let items of result">
          <th>{{ items.id }}</th>
          <td>{{ items.title }}</td>
          <td>{{ items.body }}</td>
        </tr>
      </tbody>
    </table>
  </div>