.text-wrapper{
width: max-content;
border: 1px solid green;
padding: 20px;
border-radius: 20px;
margin-inline:outo;

}
.text-input{
border-radius: 15px;
border: 1px aqua solid;
font-size: 18px;
padding:10px;
}
.text-btn{
border: none;
background-color: lime;
border-radius: 10px ;
font-size: 18px;
padding: 10px;
}